volumes:
  production_traefik: {}
  production_django_media: {}

services:
  django: &django
    build:
      context: ./backend
      dockerfile: ./compose/production/django/Dockerfile
    image: ecommerce_sp_production_django
    volumes:
      - production_django_media:/app/apps/media
    restart: unless-stopped
    env_file:
      - ./.env
    command: /start
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 256M
        limits:
          cpus: ${DJANGO_CPU:-1}
          memory: ${DJANGO_RAM:-1g}

  pgbouncer:
    build:
      context: ./backend
      dockerfile: ./compose/production/pgbouncer/Dockerfile
    image: ecommerce_sp_local_pgbouncer
    restart: unless-stopped
    env_file:
      - ./.env
    deploy:
      resources:
        reservations:
          cpus: '0.2'
          memory: 256M
        limits:
          cpus: ${PGBOUNCER_CPU:-1}
          memory: ${PGBOUNCER_RAM:-1g}
    # Network para conectarse a la bd de postgres en dokploy
    networks:
      - dokploy-network
      - default

  traefik:
    build:
      context: ./backend
      dockerfile: ./compose/production/traefik/Dockerfile
    image: ecommerce_sp_production_traefik
    depends_on:
      - django
    volumes:
      - production_traefik:/etc/traefik/acme
    restart: unless-stopped
    env_file:
      - ./.env
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 256M
        limits:
          cpus: ${TRAEFIK_CPU:-1}
          memory: ${TRAEFIK_RAM:-1g}

  celeryworker:
    <<: *django
    image: ecommerce_sp_production_celeryworker
    command: /start-celeryworker
    ports: []
    restart: unless-stopped
    deploy:
      replicas: ${CANT_WORKERS_CELERY:-2}
      resources:
        reservations:
          cpus: '0.5'
          memory: 256M
        limits:
          cpus: ${CELERYWORKER_CPU:-1}
          memory: ${CELERYWORKER_RAM:-1g}
    networks:
      - dokploy-network
      - default

  celerybeat:
    <<: *django
    image: ecommerce_sp_production_celerybeat
    restart: unless-stopped
    volumes:
      - production_django_media:/app/apps/media
    command: /start-celerybeat
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 256M
        limits:
          cpus: ${CELERYBEAT_CPU:-1}
          memory: ${CELERYBEAT_RAM:-1g}
    networks:
      - dokploy-network
      - default

  nginx:
    build:
      context: ./backend
      dockerfile: ./compose/production/nginx/Dockerfile
    image: ecommerce_sp_production_nginx
    depends_on:
      - django
    volumes:
      - production_django_media:/usr/share/nginx/media:ro
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 256M
        limits:
          cpus: ${NGINX_CPU:-1}
          memory: ${NGINX_RAM:-1g}

  frontend:
    build:
      context: ./frontend
      dockerfile: ./compose/production/Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL}
    image: ecommerce_sp_production_frontend
    restart: unless-stopped
    depends_on:
      - django
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 256M
        limits:
          cpus: ${FRONTEND_CPU:-1}
          memory: ${FRONTEND_RAM:-1g}

networks:
  dokploy-network:
    external: true